<h1>Jobs by Interest</h1>
<% @top_jobs.each do |job| %>
  <p><%= job.level_of_interest %></p>
  <p><%= @job_count[job.level_of_interest] %> Jobs</p><br>
<% end %>

<h1>Top Companies by Interest</h1>
<% @top_companies.each do |company| %>
  <p><%= company.name %></p>
  <p><%= company.average_interest.round %></p>
<% end %>
