<div class="comment-form">
  <%= form_for [@job, @job_comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :body %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <% end %>
</div>
