<div class="page-header">
  <h1>Add A Category Here!</h1>
</div>

<%= render partial: "partial/flash" %>

<div class="navigation">
  <%= link_to "<< Back to All Categories", categories_path%>
</div>

<%= render partial: "form" %>
